{% extends "core/base.html" %}

{% load static %}

{% block content %}
<div class="container">
	
	<form action="../controller/incluir_cargo.php" method="post">
		<fieldset>
	  		<legend>Novo Cargo</legend>
	
	  		<div class="form-group">
	    			<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
	  		</div>
	
	  		<div class="form-group">
	    			<input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição">  
	  		</div>
	  		
	  		<div class="form-group">
	    			<input type="number" min="0" step="any" class="form-control" id="salarioBase" name="salarioBase" placeholder="Salário Base">  
	  		</div>
	  
	  		<button type="submit" class="btn btn-primary">
	  				<span class="glyphicon glyphicon-thumbs-up"></span>
	  				Cadastrar
			</button>
		</fieldset>  
	</form> 			
</div> <!-- fim .container 1 --> 

<div class="container">
 	<br /> <br /> 
</div> <!-- fim .container 2 -->
	
	
<div class="container">
  <div class="panel panel-default">
  		<div class="panel-heading">
    		<h2 class="panel-title">Lista de Cargos</h2>
 	 	</div><!-- fim .panel-heading -->
		
		<div class="panel-body">  
  			<table class="table table-hover">
  				<tr>
  						<th>Código</th>
  						<th>Nome</th>
  						<th>Descrição</th>
  						<th>Salário Base</th>
  						<th></th>
  				</tr>
    				<tr>
    					<td class="col-md-1"></td>
    					<td class="col-md-1"></td>
    					<td class="col-md-3"></td>
    					<td class="col-md-1"></td>
    					<td class="col-md-1">
    					<a class="btn btn-danger" role="button">Excluir</a>  								
    					</td>
    			</tr>
    			
    			</table>
    			
 		</div><!-- fim .panel-body -->
	</div><!-- fim .panel -->
</div><!-- fim .container 3 -->
{% endblock %}