{% extends "core/base.html" %}

{% load static %}

{% block content %}


<div class="container">

	<form method="post">
		<fieldset>
	  		<legend>Novo Cliente</legend>
			{% csrf_token %}
			<div class="form-group">
				{{ form.as_p}}
	  		</div>

	  		<button type="submit" class="btn btn-primary">
	  				<span class="glyphicon glyphicon-thumbs-up"></span>
	  				Cadastrar
			</button>
		</fieldset>
	</form>
</div> <!-- fim .container 1 -->

<div class="container">
 	<br /> <br />
</div> <!-- fim .container 2 -->


<div class="container">
  <div class="panel panel-default">
  		<div class="panel-heading">
    		<h2 class="panel-title">Lista de Clientes</h2>
 	 	</div><!-- fim .panel-heading -->

		<div class="panel-body">
  			<table class="table table-hover">
  				<tr>
  						<th>Código</th>
  						<th>Nome</th>
  						<th>Cpf</th>
              			<th>Status</th>
  						<th>Pontos de Fidelidade</th>
  						<th>Opções</th>
  				</tr>
    				{% for cliente in clientes %}
    				<tr>
						<td class="col-md-1">{{ cliente.id}}</td>
						<td class="col-md-2">{{ cliente.nome }}</td>
    					<td class="col-md-2">{{ cliente.cpf }}</td>
						<td class="col-md-1">{{ cliente.status }}</td>
						<td class="col-md-1">{{ cliente.pontos_fidelidade }}</td>

    					<td class="col-md-2">
							<a class="btn btn-warning" href="{% url 'url_atualizacliente' cliente.id %}" role="button">Editar</a>
    						<a class="btn btn-danger" href="{% url 'url_removercliente' cliente.id %}" role="button">Excluir</a>
    					</td>
					</tr>
				{% endfor %}
    			</table>

 		</div><!-- fim .panel-body -->
	</div><!-- fim .panel -->
</div><!-- fim .container 3 -->


{% endblock %}