{% extends "core/base.html" %}

{% load static %}

{% block content %}


<div class="container">

	<form action="" method="post">
		{% csrf_token %}
		<fieldset>
	  		<legend>Nova Locação</legend>
			{{ form.as_p }}
	  		<!--<label>Data Locação</label>-->
		  		<!--<div class="form-group">-->
		    			<!--<input type="date" class="form-control" id="dataLocacao" name="dataLocacao">-->
		  		<!--</div>-->

      <!--<label>Data Devolução</label>-->
          <!--<div class="form-group">-->
              <!--<input type="date" class="form-control" id="dataDevolucao" name="dataDevolucao">-->
          <!--</div>-->

        <!--<div class="form-group">-->
          <!--<label>Status</label>-->
          <!--<select class="form-control" name="status">-->
            <!--<option value="Aberta">Aberta</option>-->
            <!--<option value="Fechada">Fechada</option>-->
            <!--<option value="Cancelada">Cancelada</option>-->
        <!--</select>-->


      <!--<div class="form-group">-->
		  			<!--<label>Funcionário</label>-->
				    <!--<select class="form-control" name="codigoFuncionario">-->

						  <!--<option  value="<?php echo $objetoFuncionario->getCodigo(); ?>"> </option>-->

					<!--</select>-->
				<!--</div>-->


      	<!--<div class="form-group">-->
            <!--<label>Cliente</label>-->
            <!--<select class="form-control" name="codigoCliente">-->
				<!--<option value=""> </option>-->

          <!--</select>-->
        <!--</div>-->


      	<!--<div class="form-group">-->
            <!--<label>Veículo</label>-->
            <!--<select class="form-control" name="codigoVeiculo">-->
                    <!--<option value="<"></option>-->
          	<!--</select>-->
        <!--</div>-->
		<fieldset>
	  		<button type="submit" class="btn btn-primary">
	  				<span class="glyphicon glyphicon-thumbs-up"></span>
	  				Cadastrar
			</button>
		</fieldset>
	</form>
</div> <!-- fim .container 1 -->

<div class="container">
 	<br /> <br />
</div> <!-- fim .container 2 -->


<div class="container">
  <div class="panel panel-default">
  		<div class="panel-heading">
    		<h2 class="panel-title">Lista de Locações</h2>
 	 	</div><!-- fim .panel-heading -->

			<div class="panel-body">
  				<table class="table table-hover">
					<tr>
  						<th>Código</th>
  						<th>Data de Locação</th>
  						<th>Data de Devolução</th>
  						<th>Status</th>
  						<th>Funcionário</th>
              			<th>Cliente</th>
              			<th>Veículo</th>
  						<th></th>
  					</tr>
				{% for locacao in locacoes %}
					<tr>
    					<td class="col-md-1">{{ locacao.id }}</td>
    					<td class="col-md-1">{{ locacao.data_locacao }}</td>
              			<td class="col-md-1">{{ locacao.data_devolucao }}</td>
    					{% if locacao.status == "A" %}
    						<td class="col-md-1">Em aberto</td>
						{% else %}
							<td class="col-md-1">Fechada</td>
						{% endif %}
					  	<td class="col-md-1">{{ locacao.funcionario }}</td>
					  	<td class="col-md-1">{{ locacao.cliente }}</td>
					  	<td class="col-md-1">{{ locacao.veiculo }}</td>
    					<td class="col-md-1">
    						<a class="btn btn-danger" href="" role="button">Excluir</a>
    					</td>
    				</tr>
				{% endfor %}
    			</table>

 		</div><!-- fim .panel-body -->
	</div><!-- fim .panel -->
</div><!-- fim .container 3 -->


{% endblock %}