{% extends "core/base.html" %}

{% load static %}

{% block content %}


<div class="container">

  <form action="../controller/incluir_veiculo.php" method="post">
    <fieldset>
        <legend>Novo Veículo</legend>

        <div class="form-group">
            <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="cor" name="cor" placeholder="Cor">
        </div>

        <div class="form-group">
            <input type="number" min="0" step="any" class="form-control" id="ano" name="ano" placeholder="Ano">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa">
        </div>

        <div class="form-group">
          <label>Status</label>
          <select name="tipo">
            <option value="Hach Médio">Hach Médio</option>
            <option value="Hach Compacto">Hach Compacto</option>
            <option value="Sedam">Sedam</option>
            <option value="Suv">Suv</option>
            <option value="Motocicleta">Motocicleta</option>
        </select>
      </div>

        <div class="form-group">
          <label>Status</label>
          <select name="status">
            <option value="Livre">Livre</option>
            <option value="Alugado">Alugado</option>
            <option value="Desativado">Desativado</option>
            <option value="Manutenção">Manutenção</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Cadastrar
      </button>
    </fieldset>
  </form>
</div> <!-- fim .container 1 -->

<div class="container">
  <br /> <br />
</div> <!-- fim .container 2 -->


<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Lista de Veículos</h2>
    </div><!-- fim .panel-heading -->

    <div class="panel-body">
        <table class="table table-hover">
          <tr>
              <th>Código</th>
              <th>Modelo</th>
              <th>Cor</th>
              <th>Ano</th>
              <th>Placa</th>
              <th>Tipo</th>
              <th>Status</th>
              <th></th>
          </tr>
            <tr>
              <td class="col-md-1"></td>
              <td class="col-md-1"></td>
              <td class="col-md-3"></td>
              <td class="col-md-1"></td>
              <td class="col-md-3"></td>
              <td class="col-md-3"></td>
              <td class="col-md-3"></td>
              <td class="col-md-1">
                <a class="btn btn-danger" href="" role="button">Excluir</a>
              </td>
            </tr>
          </table>

    </div><!-- fim .panel-body -->
  </div><!-- fim .panel -->
</div><!-- fim .container 3 -->


{% endblock %}